//==================COMMON--------------------
@cl-bg:#f2f1ee;
@cl-azure:#3ec9c1;
@cl-dark:#272727;
body{
	color: @cl-dark;
	font-size: 14px;
	min-width: 980px;
	.open-sans;
}

.ui-datepicker{
	width: 300px;
	background: @cl-bg;
	padding: 5px;
}

//==================FONTS---------------------
	.open-sans{
		font-family: 'Open Sans', arial;
	}
	.lukano{
		font-family: 'Lacuna Regular', arial;
	}
	.sans-light{
		font-family: 'Open Sans Light', arial;
	}
	.semibold{
		font-family: 'Open Sans Semibold', arial;
	}
//==================END FONTS---------------------

//==================COLORS---------------------
	
	.azure{
		color: @cl-azure;
	}
	.bg-fff{
		background: #fff;
	}
	.bg-filter{
		background: url(../img/bg-filter.png?v=2) repeat-x bottom center rgba(0,0,0,0);
	}
	.bg-def{
		background: @cl-bg;
	}
//==================END COLORS---------------------
.caption-desc{
	.semibold;
	font-size: 18px;
}
.caption-desc+p{
	font-size: 13px;
	padding: 15px 0px;
	line-height: 22px;
}
.dt,.date,.ui-datepicker{
	margin: 0 auto;
	position: relative;
	color: #494949;
	a{
		color: #494949;
		text-decoration: none;
		font-weight: bold;
	}
	.ui-state-active{
		border-radius: 50%;
		background: #3ec9c1;
		color: #fff;
		width: 20px;
		display: inline-block;
		text-align: center;
	}
	.ui-datepicker-prev,.ui-datepicker-next{
		position: absolute;
		top: 0;
		width: 10px;
		height: 16px;
		display:inline-block;
		font-size: 0;
	}
	.ui-datepicker-prev{
		background: url(../img/arr-l.png) no-repeat;
		left: 0;
	}
	.ui-datepicker-next{
		background: url(../img/arr-r.png) no-repeat;
		right: 0;
	}
	.ui-datepicker-title{
		text-align: center;
		font-size: 16px;
		
	}
	.ui-datepicker-calendar,.ui-datepicker-week-end{
		td,th{
			width: 55px;
			text-align: center;
			padding: 5px 0;
		}
		th{
			padding-top: 10px;
		}
	}
}
form.record-form{
	margin: 0 auto;
	font-size: 13px;
	.open-sans;

	.date{
		input[type=text]{
			width: 80px;
			line-height: 35px;
		}
	}
	label.req:after{
		content: '*';
		color: #ed5050;
		margin-left: 3px;
		vertical-align: top;
		display: inline-block;
	}
	label{
		display: inline-block;
		vertical-align: middle;
	}
	input[type=text],textarea{
		text-align: left;
		width: 285px;
		display: inline-block;
		vertical-align: middle;
		padding: 0 10px;
		border: solid 1px #d0d0d0;
	}
	textarea{
		width: 285px;
		padding: 10px;
		height: 70px;
	}
	.row{
		margin: 10px 0px;
		text-align: right;
		input{
			line-height: 36px;
		}
	}
	input[type=submit]{
		display: block;

		padding: 0 20px;
		line-height: 38px;
		margin: 0 auto;
		margin-top: 30px;
		text-transform: uppercase;
		margin-bottom: 50px;
		font-size: 16px;
	}
}
.btn-azure:hover,input[type=submit]:hover{
	background: #2a9690;
}
.clr{
	clear: both;
}
.like:before{
	content: '';
	width: 16px;
	height: 14px;
	margin-right: 5px;
	background: url(../img/like.png) no-repeat;
	display: inline-block;
	vertical-align: middle;
}
.like{
	display: inline-block;
}
.comment:before{
	content: '';
	background: url(../img/mess.png) no-repeat;
	width: 17px;
	height: 14px;
	display: inline-block;
	margin: 0px 5px;
	vertical-align: middle;
}
.comment,.like{
	text-decoration: none;
}
.more:hover{
	background: @cl-dark;
	color: #fff;
}
.more{
	transition:0.3s all;
	text-align: center;
	width: 100%;
	display: block;
	background: #f2f1ee;
	line-height: 30px;
	color: @cl-dark;
	text-decoration: none;
}
.btn-azure{
	display: inline-block;
	transition:0.3s background;
	background: @cl-azure;
	padding: 15px 25px;
	color: #fff!important;
	border-radius: 2px;
	text-decoration: none;
}
.items:after{
	content: '';
	overflow: hidden;
	opacity: 0;
	display: inline-block;
	height: 0;
	width: 100%;
}
.title{
	padding: 30px 26px;
	padding-bottom: 20px;
	font-size: 28px;
	text-transform: uppercase;
}
.content{
	width: 980px;
	margin: 0 auto;
	position: relative;
}
.items{
	text-align: justify;
	.item{
		display: inline-block;
		vertical-align: top;
	}
}
.logo{
	img{
		vertical-align: middle;
	}
}
h1{
	font-size: 30px;
}

a{
	transition:0.3s color;
	color: @cl-azure;
}
a:hover{
	color: #2a9690;
}
.azure{
	color: @cl-azure;
}

label{
	cursor: pointer;
	display: inline-block;
}

input[type=checkbox],input[type=radio]{
	position: absolute;
	left: -999px;
	opacity: 0;
	visibility: hidden;
}

input[type=submit]{
	transition:0.3s background;
	background: @cl-azure;
	border: none;
	line-height: 30px;
	color: #fff;
}

input[type=checkbox]+label:before{
	content: '';
	background: url(../img/check.png?v=2) no-repeat;
	border:solid 1px #b1b0b0;
	background-position: 0 -100px;
	height: 18px;
	width: 18px;
	display: inline-block;
	vertical-align: middle;
	border-radius: 3px;
}

input[type=checkbox]:checked+label:before{
	background-position: center center;	
	border: solid 1px #3ab3ac;
}

input[type=radio]+label:before{
	content: '';
	background: url(../img/radio.png?v=2) no-repeat;
	background-position: 0 0;
	height: 16px;
	width: 16px;
	display: inline-block;
	vertical-align: middle;
}

input[type=radio]:checked+label:before{
	background-position: center center;	
}

input[type=text],textarea{
	border:solid 1px #b1b0b0;
	border-radius: 3px;
	outline: none;
}
.social{
	a{
		overflow: hidden;
		display: inline-block;
		background: #fff;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		position: relative;
	}
	a:hover span{
		background-position: 0 -16px;
	}
	a span{
		  background-position: 0 0;
		  vertical-align: middle;
		  position: absolute;
		  top: 0;
		  left: 0;
		  right: 0;
		  bottom: 0;
		  margin: auto;
		  width: 14px;
		  height: 15px;
	}
	.vk span{
		width: 10px;
		background: url(../img/vk.png)no-repeat;
	}
	.instagramm span{
		background: url(../img/instagram.png)no-repeat;
	}
	.fb span{
		width: 7px;
		background: url(../img/fb.png)no-repeat;
	}
}
//==================END COMMON-----------------


//==================CONTENT--------------------
header{
	.top{
		line-height: 90px;
		height: 90px;
		vertical-align: middle;
		border-bottom: solid 1px #eeece9;
		.content{
			height: 90px;
			.menu{
				font-size: 0;
				vertical-align: middle;
				display: inline-block;
				width: 500px;
				ul{
					text-align: center;
					li{
						font-size: 15px;
						display: inline-block;
						text-transform: uppercase;
						vertical-align: middle;
						margin: 0 10px;
						a:hover{
							color: @cl-azure;
						}
						a{
							transition:0.3s color;
							display: block;
							text-decoration: none;
							color: @cl-dark;
						}
					}
				}
			}
		}
	}
	.breadcrumbs{
		font-size: 12px;
		padding: 10px 0;
		a{
			color: @cl-dark;
		}

	}
}
.actions{
	font-size: 15px;
	a{
		text-decoration: none;
		transition:0.3s background;
	}
	a:first-child{
		margin-right: 15px;
		display: inline-block;
	}
	.active{
		background: @cl-dark;
		padding: 5px 15px;
		color: #fff;
		border-radius: 3px;
	}
	.active:hover{
		background: @cl-azure;
	}
}
section{
	.modal{
		height: 500px;
		-webkit-box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.9);
		-moz-box-shadow:    0px 0px 6px 0px rgba(50, 50, 50, 0.9);
		box-shadow:         0px 0px 6px 0px rgba(50, 50, 50, 0.9);
		width: 755px;
		background: #fff;
		border-radius: 4px;
		text-align: center;
		overflow: hidden;
		margin: 0 auto;
		margin-bottom: 10px;
		.service{
			
		}
		div[class^="step-"]{
			display: none;
		}

		div[class^="step"].active{
			display: block;
			margin: 0 auto;
		}

		.master-record{
			width: 540px;
			margin:0 auto;
		}

		#scrollbarY{
			padding-bottom: 50px;
			padding-top: 0px;
		}

		.main{
			text-align: center;
		}
		.record-form{
			width: 410px;
			font-size: 13px;
			color: @cl-dark;
			padding-top: 20px;
			.dt{
				width: 360px;
			}
			.items{
				height: 47px;
			}
			.date{
				label{
					margin-left: 6px;
				}
			}
			.date:after{
				content: '';
				background: url(../img/dt.png);
				display: inline-block;
				margin-left: 10px;
				width: 15px;
				height: 16px;
				vertical-align: middle;
				margin-right: 20px;	
			}
			.selectBox-dropdown{
				width: 60px;
				min-width: 60px;
				line-height: 35px;
				height: 35px;
				cursor: pointer;
				border: solid 1px #d0d0d0;
			}
			.selectBox-dropdown .selectBox-label{
				padding: 0 10px;
				cursor: pointer;
			}
			.selectBox-options li a{
				cursor: pointer!important;
			}
		}
		.steps{
			position: relative;
			display: block;
			ul{
				width: 100%;
				display: table;
				li.active{
					background: @cl-azure;
					color: #fff;
				}
				li{
					.semibold;
					line-height: 40px;
					font-weight: normal;
					text-align: center;;
					font-size: 18px;
					background: #f2f1ee;
					display: table-cell;
					color: #333333;
				}
			}
			.close{
				position: absolute;
				right: 10px;
				top: 10px;
				background: url(../img/close.png)no-repeat;
				width: 18px;
				height: 18px;
			}
		}
		.step-2{
			position: relative;
			margin-top: 30px!important;
			//width: 360px;
			.items:last-child{
				margin-top: 20px;
				.result.item{
					font-size: 16px;
					vertical-align: middle;
					span{
						font-weight: bold;
						margin-left: 5px;
						display: inline-block;
					}
				}
			}
			.btn-azure{
				line-height: 36px;
				padding: 0px 20px;
				text-transform: uppercase;
			}
		}
		.step-3{
			text-align: center;

			.caption{
				margin: 40px 0;
				font-size: 15px;
				text-align: center;
				background: @cl-bg;
				display: inline-block;
				line-height: 32px;
			}
			
		}
		#calendar{
			width: 320px;
			margin: 0 auto;
			padding: 10px 20px;
			border: solid 1px #e7e7e7;
			border-radius: 3px;
			margin-top: 20px;
			.overview{
				.items{
					border-bottom: dashed 1px #898989;
					line-height: 44px;
					height: 44px;
					label:before{
						margin-right: 7px;
					}
				}
			}
		}
		.services.active{
			display: block;
		}
		.services{
			padding: 10px;
			padding-top: 0;
			display: none;
			.scrollbarY{
				padding: 0;
				height: 425px;
				overflow: hidden;
			}
			a{
				.semibold;
				font-weight: bold;
				font-size: 18px;
				text-decoration: none;
				display: inline-block;
				width: 229px;
				line-height: 130px;
				height: 133px;
				vertical-align: middle;
				border: solid 1px transparent;
				text-align: center;
				color: @cl-dark;
				background: @cl-bg;
				margin-bottom: 5px;
				span{
					transition:0.3s all;
					line-height: 17px;
				}
			}
			a:hover{
				
				border: solid 1px @cl-azure;
				span{
					color: @cl-azure;	
				}
			}
		}
		.review{
			padding: 20px 60px;
			text-align: center;
			font-size: 13px;
			.caption{
				text-align: center;
				font-size: 18px;
				margin-bottom: 35px;
				.semibold;
			}
			img{
				margin-bottom: 25px;
			}
			textarea{
				text-align: left;
				display: block;
				width: 93%;
				.open-sans;
				padding: 15px;
				margin-bottom: 18px;
				height: 80px;
				line-height: 20px;
			}
			input{
				width: 286px;
				padding: 0 10px;
				line-height: 35px;
			}
			input[type=submit]{
				padding: 0px 20px;
				font-size: 16px;
				margin-top: 5px;
				width: auto;
				text-transform: uppercase;
			}
		}
	}
	.photo-info{
		height: 600px;
		width: 755px;
		.master{
			width: 200px;
			padding: 15px 25px;
			.name{
				.semibold;
				font-size: 14px;
				color: #333333;
				display: block;
				margin-top: 5px;
			}
			.post{
				display: block;
				color: #acaaaa;
				font-size: 13px;
				margin-top: 5px;
				.open-sans;
			}
		}
		.carusel{
			width: 634px;
			margin: 0 auto;
			position: relative;
			.owl-item{
				p{
					text-align: center;
					.semibold;
					font-size: 16px;
					font-weight: bold;
					margin-top: 20px;
				}
			}
			.owl-prev,.owl-next{
				position: absolute;
				top: 0;
				bottom: 0;
				margin: auto;
				width: 32px;
				height: 32px;
			}
			.owl-prev{
				background: url(../img/rev-prev.png) no-repeat;
				left: -48px;
			}
			.owl-next{
				background: url(../img/rev-next.png) no-repeat;
				right: -48px;
			}
			img{
				width: 634px;
				height: 336px;
			} 
		}
	}
	.styles{
		margin-bottom: 225px;
		.caption{
			.semibold;
			font-weight: bold;
			font-size: 18px;
		}
		.caption+p{
			font-size: 13px;
			line-height: 20px;
			padding: 20px 0px;
		}
		.some-info{
			font-size: 14px;
			padding-bottom: 50px;
			.item{
				display: inline-block;
				width: 250px;
				vertical-align: top;
			}
			.head{
				margin-bottom: 25px;
				font-size: 16px;
			}
			ul{
				margin-left: 20px;
				list-style-type: disc;
				li{
					line-height: 26px;
				}
			}
			ol{
				li{
					line-height: 26px;
				}
				margin-left: 20px;
				list-style-type: decimal;
			}
		}
		.hint{
			margin-top: 20px;
			margin-left: 30px;
			border-left: solid 2px @cl-azure;
			padding: 10px 0;
			padding-left: 15px;
			font-size: 13px;
			line-height: 20px;
			margin-bottom: 57px;
		}
		table{
			border: solid 1px #d2d4d4;
			width: 430px;
			thead{
				background: @cl-bg;
				th{
					.semibold;
					padding: 17px 25px;
					font-size: 14px;
					font-weight: bold;
					text-align: left;
				}
			}
			tbody{
				tr{
					border-bottom: dashed 1px @cl-dark;
					td:first-child{
						width: 190px;
					}
					td+td{
						text-align: justify;
					}
					td+td+td{
						text-align: center;
					}
					td{
						padding-left: 25px;
						line-height: 43px;
					}
				}
				tr:last-child{
					border: none;
				}
			}
		}
	}
	.filter{
		font-size: 12px;
		padding: 30px;
		input[type=text]{
			line-height: 30px;
			outline: none;
			padding: 0 10px;
			font-size: 12px;
		}
		#term{
			width: 364px;
		}
		#area{
			width: 150px;
		}
		#sex{
			margin-left: 13px;
		}
		#dt,#time,#price,#sex{
			width: 90px;
			vertical-align: middle;
		}
		.selectBox{
			vertical-align: middle;
		}
		.split+select+.selectBox{
			margin-right: 13px;
		}
		label{
			margin-left: 25px;
			color: #919191;
		}
		input[type="submit"]{
			padding: 1px 30px;
			display: inline-block;
			vertical-align: middle;
			border: 2px;
			text-transform: uppercase;
		}
		.split{
			width: 100%;
			padding: 10px 0px;
			border-top: dashed 1px #b1b0b0;
		}
	}
	.masters{
		padding: 40px 0;
		padding-bottom: 10px;
		background: #fff;
		border-bottom: dashed 1px @cl-dark;
		.content{
			border-top: dashed 1px @cl-dark;
			
			padding: 35px 0;
			padding-bottom: 0;
		}
		.caption{
			font-weight: bold;
			background: #fff;
			text-transform: uppercase;
			font-size: 22px;
			position: absolute;
			top: -17px;
			left: 0;
			padding-right: 17px;
			.sans-light;
		}
		.item:hover{
			border: solid 2px @cl-azure;
			.hover{
				-webkit-box-shadow: inset 0 2px 40px 0 rgba(0,0,0,0.9);
				-moz-box-shadow: inset 0 2px 40px 0 rgba(0,0,0,0.9);
				box-shadow: 0 2px 40px 0 rgba(0,0,0,0.9);
			}
		}
		.item{
			transition:0.3s border;
			width: 183px;
			border: solid 2px #fff;
			
			position: relative;
			z-index: 2;
			background: #fff;
			.hover{
				  position: absolute;
				  bottom: 0px;
				  height: 13px;
				  border-radius: 50%;
				  width: 95%;
				  left: 0;
				  right: 0;
				  margin: auto;
				  z-index: 1;
			}
			a{
				padding-bottom: 10px;
				text-decoration: none;
				position: relative;
				z-index: 3;
				display: block;
				background: #fff;
				.name{
					color: @cl-azure;
					padding: 5px;
					display: inline-block;
					margin-top: 5px;
				}
				.status{
					padding: 5px;
					display: inline-block;
					color: #9b9b9b;
					font-size:12px;
				}
			}
		}
	}
	.reg{
		background: @cl-bg;
		.content{
			padding: 35px 0;
			text-align: center;
			p{
				text-align: center;	
				font-size: 18px;
			}
			.btn-azure{
				margin-top: 20px;
				display: inline-block;
			}
		}
		border-bottom: dashed 1px @cl-dark;
	}
	.service{
		margin-top: 30px;
		font-size: 14px;
		padding: 0 40px;
		p{
			color: #333333;
			font-weight: bold;
			margin-bottom: 15px;
		}
		.items{
			text-align: left;
			.item{
				vertical-align: top;
				width: 235px;
			}
		}
		
		li{
			line-height: 25px;
			display: block;
			a{
				color: #333333;
				transition:0.2s color;
			}
			a:hover{
				color: @cl-azure;	
			}
		}
	}
	.example{
		.title{
			padding-top: 0;
		}
		padding: 50px 0;
		background: #fff;
		.content{
			text-align: center;
		}
	}

	.master-list{
		margin-top: 35px;
		width: 580px;
		margin-bottom: 90px;
		.master{
			clear: both;
			border: solid 1px #d2d4d4;
			border-bottom: none;
			margin-bottom: 22px;
			.info{
				img{
					width: 183px;
					float: left;
				}
				ul{
					padding-left: 30px;
					display: block;
					margin-left: 183px;
					
					li{
						padding-top: 18px;
					}
					.name{
						font-weight: bold;
						font-size: 18px;
						color: @cl-dark;
						text-decoration: none;
						.semibold;
					}
					.place{
						font-weight: bold;
						font-size: 14px;
						text-decoration: none;
						font-weight: bold;
						.semibold;
					}
					li:last-child{
						font-size: 13px;
						span{
							margin-right: 40px;
							display: inline-block;
						}
					}
				}
			}
			.service-list{
				display: block;
				border-top: solid 1px #d2d4d4;
				border-bottom: solid 1px #d2d4d4;
				padding: 0px 20px;
				.btn-azure{
					display: inline-block;
					padding: 5px 28px;
					line-height: 25px;
				}
				li{
					  border-bottom: dashed 1px #5c5c5c;
					  height: 60px;
					  line-height: 60px;
					  vertical-align: middle;
					  span{
					  	display: inline-block;
					  }
				}
				li:last-child{
					border-bottom: none;
				}
			}
		}
	}

	.master-map{
		margin-top: 35px;
	}

	.master-view{
		position: relative;
		font-size: 0;
		.info{
			position: absolute;
			bottom: 0;
			left: 0;
			width: 955px;
			background: rgba(0,0,0,0.7);
			padding: 10px 0px;
			padding-left: 25px;
			img{
				
				border-radius: 50%;
				width: 125px;
				height: 125px;
				margin-right: 60px;
			}
			ul.online:after{
				  content: 'Онлайн';
				  position: absolute;
				  top: 8px;
				  right: -52px;
				  color: #3ec9c1;
				  font-size: 12px;
			}
			ul.ofline:after{
				content: 'Офнлайн';
				position: absolute;
				top: 0;
				right: -70px;
				color: red;
			}
			ul{
				display: inline-block;
				vertical-align: top;
				position: relative;
				.btn-azure{
					padding: 2px 15px;
					margin: 0 20px;
				}
				li{
					margin-top: 16px;
					color: #fff;
					.name{
						font-size: 18px;
						.semibold;
					}
					.name+.city{
						margin-left: 20px;
						font-weight: 300;
						.open-sans;
						font-size: 14px;
						display: inline-block;
					}
					.place{
						font-size: 14px;
						.open-sans;
					}
					a{
						display: inline-block;
						color: #fff;
						text-decoration: none;
					}
				}
				li:last-child{
					font-size: 13px;
					.open-sans;
				}
			}
			.actions{
				display: inline-block;
				vertical-align: top;
				position: absolute;
				right: 0;
				top: 30px;
				.btn-azure{
					padding: 10px 20px;
					text-transform: uppercase;
				}
			}
		}
	}
	.portfolio{
		width: 580px;
		.items{
			margin-top: 10px;
		}
		.item{
			text-align: center;
			width: 183px;
			margin-bottom: 20px;
			background: #f2f1ee;
			padding-bottom: 5px;
			.like{
				margin-left: 20px;
			}
		}
	}
	.caption-ha{
		font-size: 16px;
		margin-top: 25px;
		border-bottom: solid 1px #393a3a;
		
		.sans-light;
		span{
			background: #393a3a;
			padding: 2px 10px;
			color: #fff;
			display: inline-block;
		}
	}
	.work-place{
		width: 360px;
		color: @cl-dark;
		font-size: 14px;
		display: inline-block;
		
		.info{
			background: @cl-bg;
			p{
				padding: 25px;
				padding-bottom: 27px;
				.name{
					.semibold;
					margin-top: 5px;
					font-weight: bold;
					display: block;
					font-weight: bold;
				}
				.address{
					margin-top: 15px;
					display: block;
				}
			}
		}
	}
	.master-record{
		width: 580px;
		padding-top: 20px;
		.row{
			p{
				.semibold;
				margin-bottom: 5px;
				color: @cl-azure;
				text-transform: uppercase;
				font-size: 15px;
			}
			.info{
				font-size: 15px;
				height: 65px;
				line-height: 65px;
				border-top: dashed 1px #898989;
				span{
					display: inline-block;
					vertical-align: middle;
					line-height: 25px;
					span{
						font-style: italic;
						display: block;
						font-size: 13px;
						line-height: 25px;
					}
				}
				.btn-azure{
					padding: 0px 15px;
					line-height: 25px;
				}
			}
		}
	}
	.time-table{
		ul{
			background: @cl-bg;
			padding-top: 15px;
			font-size: 14px;
			li:first-child{
				border: none
			}
			li{
				.items;
				line-height: 44px;
				height: 44px;
				border-top: dashed 1px @cl-dark;
				padding: 0 20px;
				span{
					display: inline-block;
					vertical-align: middle;
					line-height: 15px;
				}
			}
			li:after{
				content: '';
				overflow: hidden;
				opacity: 0;
				display: inline-block;
				height: 0;
				width: 100%;
			}
		}
	}
	.exp{
		font-size: 14px;
		div{
			p{
				padding: 10px;
			}
		}
	}
	.reviews{
		width: 580px;
		padding-top: 20px;
		.otziv{
			text-align: right;
			.btn-azure{
				padding: 0 10px;
				line-height: 25px;
			}
			padding-bottom: 20px;
		}
		.who{
			color: @cl-azure;
			font-size: 15px;
			span{
				font-style: italic;
			}
		}
		.mess{
			width: 470px;
			font-style: italic;
			font-size: 14px;
		}
		.items{
			margin-bottom: 18px;
			border-bottom: dashed 1px #898989;
		}
		.items:last-child{
			border: none;
		}
	}
	.reviews+a{
		margin-bottom: 20px;
	}
	.another-links{
		width: 340px;
		border-bottom: solid 1px #e7e7e7;
		.caption-ha{
			margin-bottom: 20px;
		}
		.go-site{
			color: @cl-dark;
		}
		.go-site:hover{
			color: @cl-azure;
		}
		.social{
			a:hover {
				background: #fff;
				span{
					background-position: 0 -16px;
				}
			}
			a{
				border: solid 1px @cl-dark;
				background: @cl-dark
			}
			.vk{
				span{
					background: url(../img/vk-2.png?v=2)no-repeat;
				}
			}
			.instagramm{
				span{
					width: 16px;
					background: url(../img/instagram-2.png)no-repeat;
				}
			}
			.fb{
				span{
					background: url(../img/fb-2.png)no-repeat;	
				}
			}
		}
	}
	.photo-view{
		margin-bottom: 40px;
		border: solid 1px @cl-azure;
		.caption{
			font-weight: normal;
			font-size: 24px;
			padding: 20px 0px;
			text-align: center;
			border-bottom: solid 1px #b6b6b6;
			.lukano;
		}
		.more{
			margin: 25px 30px;
			margin-top: 0;
			width: auto;
		}
		.items{
			padding: 25px 30px;
			padding-bottom: 0;
			.item{
				width: 300px;
				margin-bottom: 20px;
				.items{
					padding: 0;
					padding-top: 20px;
				}
				a.img{
					height: 225px;
					text-align: center;
					background-color: #eee;
					position: relative;
					display: block;
					img{
						position: absolute;
						top: 0;
						bottom: 0;
						left: 0;
						right: 0;
						margin: auto;
					}
				}
				.name{
					font-size: 14px;
					.lukano;
					text-decoration: none;
					color: #676767;
				}
				.item-f{
					display: inline-block;
					vertical-align: top;
					text-decoration: none;
				}
				.item-f:first-child{
					width: 250px;
				}
				.desc{
					width: 250px;
					display: inline-block;
					font-size: 11px;
					color: #aaa;
				}
			}
		}
		
	}
}
footer{
	color: #fff;
	background: @cl-dark;
	line-height: 50px;
	color: #fff;
	position: relative;
	.open-sans;
	a:hover{
		color: #b6b6b6;
	}
	ul{
		text-align: justify;
		width: 400px;
		font-size: 12px;
		color: #fff;
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		li{
			margin: 0 8px;
		}
	}
	ul,li,.social,.logo,a{
		color: #fff;
		vertical-align: middle;
		display: inline-block;
	}
	.social{
		float: right;
	}
}
//==================END CONTENT--------------------

//==================PLAGINS -----------------------
/* Tiny Scrollbar */
#scrollbarY,#calendar { margin: 20px 0 10px; }
#scrollbarY .viewport, #calendar .viewport {height: 424px; overflow: hidden; position: relative; }
#scrollbarY .overview, #calendar .overview { list-style: none; position: absolute; left: 0;right:0;margin: 0 auto; top: 0; padding: 0; }
#scrollbarY .scrollbar, #calendar .scrollbar { background: @cl-azure 0 0; position: relative; background-position: 0 0; float: right; width: 11px; }
#scrollbarY .track, #calendar .track { background: @cl-bg 0 100%; height: 100%; width:9px; position: relative; padding: 0 1px; }
#scrollbarY .thumb ,#calendar .thumb { border-radius: 10px; background:@cl-azure 50% 100%; height: 20px; width: 9px; cursor: pointer; overflow: hidden; position: absolute; top: 0; left: 1px; }
#scrollbarY .thumb .end,#calendar .thumb .end { background: @cl-azure 50% 0; overflow: hidden; height: 5px; width: 25px; }
#scrollbarY .disable,#calendar .disable { display: none; }

#calendar .viewport{
	height: 260px;
}
.services .viewport{
	height: 425px;
}