//==================COMMON--------------------
@cl-bg:#f2f1ee;
@cl-azure:#3ec9c1;
@cl-dark:#272727;

body{
	color: @cl-dark;
	font-size: 14px;
	min-width: 980px;
	.open-sans;
}

.ui-datepicker{
	width: 300px;
	background: @cl-bg;
	padding: 5px;
}

.empty{
	p{
		margin-top:100px;
		text-align:center;
	}
}

h1,h2,h3{
	font-family: 'Open Sans Semibold',arial;
	font-weight: bold;
}
.page-content{
	h1{
		font-size:18px;
	}

	h2{
	 	font-size:16px;
	}

	h3{
		font-size:14px;
	}
	ul{
		margin-left: 20px;
  		list-style-type: disc;
	}
	ol{
	  	margin-left: 20px;
  		list-style-type: decimal;
	}
	p{
	  	font-size: 13px;
	  	line-height: 20px;
	  	padding: 20px 0;
	}
}

.alert-view{
	
	position:fixed;
	bottom:50px;
	left:-400px;
	width:400px;
	text-align:center;
	-webkit-box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.9);
	-moz-box-shadow:    0px 0px 6px 0px rgba(50, 50, 50, 0.9);
	box-shadow:         0px 0px 6px 0px rgba(50, 50, 50, 0.9);
	background: #fff;
	border-radius: 4px;
	z-index: 1000000;
	overflow: hidden;
	transition:0.3s all;
	p{
		font-weight: bold;
	}
	.close-alert{
		position: absolute;
		right: 10px;
		top: 10px;
		background: url(../img/close.png)no-repeat;
		width: 18px;
		height: 18px;
		cursor: pointer;
	}
	.title{
		position: relative;
		background: #3ec9c1;
		padding:5px 20px;
		color: #fff;
		font-size: 18px;
	}
	.view{
		padding: 20px;
	}
}
.alert-view.active{
	left: 0;
}
.auth-modal{
	
	height: 250px;
	width: 400px;
	.row{
		position:relative;
		padding-bottom:10px;
		.errorMessage{
			position:absolute;
			bottom:0px;
			left:0;
			right:0;
			margin:auto;
			color:red;
			font-size:10px;
		}
	}
	.main{
		padding: 20px;
		padding-left: 31px;
		margin-top: 10px;
		input{
			line-height: 30px;
			padding: 0 15px;
			font-size: 14px;
			width: 216px;
		}
		input[type=submit]{
			padding: 0 20px;
			width: auto;
		}
		label{
			width: 70px;
			line-height: 45px;
		}
		.items{
			padding-right: 25px;
			height:55px;
		}
	}
	#uLogin{
		text-align:center;
	}
}
form{
	display: block;
	.row{
		label{
			width: 100px;
		}
	}
	input[type="submit"]{
		padding: 0 20px;
	}
	.required{
		span{
			color:red;
		}
	}
}
.modal{
	height: 500px;
	-webkit-box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.9);
	-moz-box-shadow:    0px 0px 6px 0px rgba(50, 50, 50, 0.9);
	box-shadow:         0px 0px 6px 0px rgba(50, 50, 50, 0.9);
	width: 754px;
	background: #fff;
	border-radius: 4px;
	text-align: center;
	overflow: hidden;
	margin: 0 auto;
	.service{
		
	}
	.master-record{
		width: 580px;
		padding-top: 20px;
		.row{
			p{
				.semibold;
				margin-bottom: 5px;
				color: @cl-azure;
				text-transform: uppercase;
				font-size: 15px;
			}
			.info{
				font-size: 15px;
				height: 65px;
				line-height: 65px;
				border-top: dashed 1px #898989;
				span{
					display: inline-block;
					vertical-align: middle;
					line-height: 25px;
					span{
						font-style: italic;
						display: block;
						font-size: 13px;
						line-height: 25px;
					}
				}

				.btn-azure{
					padding: 0px 15px;
					line-height: 25px;
				}
			}
		}
	}
	div[class^="step-"]{
		display: none;
		position: relative;
		a[data-index]{
			position: absolute;
			top: 6px;
			left: 20px;
			width: 20px;
			height: 20px;
			background: url(../img/return.png) no-repeat;
		}
	}

	div[class^="step"].active{
		display: block;
		margin: 0 auto;
	}

	.master-record{
		width: 540px;
		margin:0 auto;
	}

	#scrollbarY{
		padding-bottom: 50px;
		padding-top: 0px;
	}

	.main{
		text-align: center;
	}
	.record-form{
		width: 420px;
		font-size: 13px;
		color: @cl-dark;
		.dt{
			width: 360px;
		}
		label{
			text-align:right;
			margin-right:5px;
		}
		.errorMessage{
			margin-left:130px;
			font-size:12px;
			color:red;
		}
		.items{
			height: 47px;
		}
		.date{
			label{
				margin-left: 6px;
			}
		}
		.date:after{
			content: '';
			background: url(../img/dt.png);
			display: inline-block;
			margin-left: 10px;
			width: 15px;
			height: 16px;
			vertical-align: middle;
			margin-right: 20px;	
		}
		.selectBox-dropdown{
			width: 60px;
			min-width: 60px;
			line-height: 35px;
			height: 35px;
			cursor: pointer;
			border: solid 1px #d0d0d0;
		}
		.selectBox-dropdown .selectBox-label{
			padding: 0 10px;
			cursor: pointer;
		}
		.selectBox-options li a{
			cursor: pointer!important;
		}
	}
	.steps{
		position: relative;
		display: block;
		ul{
			width: 100%;
			display: table;
			li.active{
				background: @cl-azure;
				color: #fff;
			}
			li{
				.semibold;
				line-height: 40px;
				font-weight: normal;
				text-align: center;;
				font-size: 18px;
				background: #f2f1ee;
				display: table-cell;
				color: #333333;
			}
		}
		.close{
			position: absolute;
			right: 10px;
			top: 10px;
			background: url(../img/close.png)no-repeat;
			width: 18px;
			height: 18px;
		}
	}
	.step-2{
		position: relative;
		margin-top: 30px!important;
		//width: 360px;
		.items:last-child{
			.result.item{
				font-size: 16px;
				vertical-align: middle;
				.open-sans;
				font-weight:bold;
				span{
					font-weight: bold;
					margin-left: 5px;
					display: inline-block;
					.semibold;
				}
			}
		}
		.btn-azure{
			line-height: 36px;
			padding: 0px 20px;
			text-transform: uppercase;
		}
		.dt{
			display:block;
			width:360px;
			vertical-align:middle;
		}
		.wrap{
			text-align:center;
		}
	}
	.step-3{
		text-align: center;
		a[data-index]{
			top:44px!important;
		}
		.caption{
			margin: 40px 0;
			font-size: 15px;
			text-align: center;
			background: @cl-bg;
			display: inline-block;
			line-height: 32px;
			padding:0 15px;
		}
		form{
			padding-right: 70px;
			input[type="submit"]{
				margin-left:180px;
			}
		}
	}
	#calendar{
		width: 320px;
		display:inline-block;
		margin: 0 auto;
		padding:10px 20px;
		padding-right:5px;
		border: solid 1px #e7e7e7;
		border-radius: 3px;
		margin-top: 5px;
		vertical-align:middle;
		height:240px;
		.overview{
			.items{
				border-bottom: dashed 1px #898989;
				line-height: 44px;
				height: 44px;
				margin-right:15px;
				position:relative;
				label:before{
					margin-right: 7px;
					position: absolute;
  			  		top: 15px;
				}
				.time{
					padding-left:20px;
				}
			}
		}
	}
	#calendar+.items{
		margin:20px auto;
		width:350px;
		.btn-azure{
				border-radius:3px;
		}
	}
	.services.active{
		display: block;
	}
	.services{
		padding: 10px;
		padding-top: 0;
		display: none;
		.scrollbarY{
			padding: 0;
			height: 425px;
			overflow: hidden;
		}
		a{
			.semibold;
			font-weight: bold;
			font-size: 18px;
			text-decoration: none;
			display: inline-block;
			width: 229px;
			line-height: 130px;
			height: 133px;
			vertical-align: middle;
			border: solid 1px transparent;
			text-align: center;
			color: @cl-dark;
			background: @cl-bg;
			margin-bottom: 5px;
			span{
				transition:0.3s all;
				line-height: 17px;
			}
		}
		a:hover{
			
			border: solid 1px @cl-azure;
			span{
				color: @cl-azure;	
			}
		}
	}
	.review{
		padding: 20px 60px;
		text-align: center;
		font-size: 13px;
		.caption{
			text-align: center;
			font-size: 18px;
			margin-bottom: 35px;
			.semibold;
		}
		input[type=text]{
		  width: 286px;
		  padding: 0 10px;
		  line-height: 35px;
		}
		img{
			margin-bottom: 25px;
		}
		textarea{
			text-align: left;
			display: block;
			width: 600px;
			max-width:600px;
			.open-sans;
			padding: 15px;
			margin-bottom: 18px;
			height: 80px;
			line-height: 20px;
		}
		input[type=submit]{
			padding: 0px 20px;
			font-size: 16px;
			margin-top: 5px;
			width: auto;
			text-transform: uppercase;
		}
	}
	.wrap{

	}
}
//==================FONTS---------------------
	.open-sans{
		font-family: 'Open Sans', sans-serif;
	}
	.lukano{
		font-family: 'Lacuna Regular', arial;
	}
	.sans-light{
		font-family: 'Open Sans', sans-serif;
		font-weight:300;
	}
	.semibold{
		font-family: 'Open Sans', sans-serif;
		font-weight:bold;
	}
//==================END FONTS---------------------

//==================COLORS---------------------
	
	.azure{
		color: @cl-azure;
	}
	.bg-fff{
		background: #fff;
	}
	.bg-filter{
		background: url(../img/bg-filter.png?v=2) repeat-x bottom center rgba(0,0,0,0);
	}
	.bg-def{
		background: @cl-bg;
	}
//==================END COLORS---------------------
.caption-desc{
	.semibold;
	font-size: 18px;
	font-weight:bold;
	margin-bottom:20px;
}
.caption-desc+p{
	font-size: 13px;
	padding: 15px 0px;
	line-height: 22px;
}
.dt,.date,.ui-datepicker{
	margin: 0 auto;
	position: relative;
	color: #494949;
	a{
		color: #494949;
		text-decoration: none;
		font-weight: bold;
	}
	.ui-state-active{
		border-radius: 50%;
		background: #3ec9c1;
		color: #fff;
		width: 20px;
		display: inline-block;
		text-align: center;
	}
	.ui-datepicker-prev,.ui-datepicker-next{
		position: absolute;
		top: 10px;
		width: 10px;
		height: 16px;
		display:inline-block;
		font-size: 0;
	}
	.ui-datepicker-prev{
		background: url(../img/arr-l.png) no-repeat;
		left: 5px;
	}
	.ui-datepicker-next{
		background: url(../img/arr-r.png) no-repeat;
		right: 5px;
	}
	.ui-datepicker-title{
		text-align: center;
		font-size: 16px;
		
	}
	.ui-datepicker-calendar,.ui-datepicker-week-end{
		td,th{
			width: 55px;
			text-align: center;
			padding: 5px 0;
		}
		th{
			padding-top: 10px;
		}
	}
}
form.record-form{
	margin: 0 auto;
	font-size: 13px;
	.open-sans;

	.date{
		input[type=text]{
			width: 80px;
			line-height: 35px;
		}
	}

	label.req:after{
		content: '*';
		color: #ed5050;
		margin-left: 3px;
		vertical-align: top;
		display: inline-block;
	}
	label{
		display: inline-block;
		vertical-align: middle;
	}
	input[type=text],textarea{
		text-align: left;
		width: 285px;
		display: inline-block;
		vertical-align: middle;
		padding: 0 10px;
		border: solid 1px #d0d0d0;
	}
	textarea{
		width: 285px;
		padding: 10px;
		height: 70px;
	}
	.row{
		margin: 10px 0px;
		text-align: right;
		input{
			line-height: 36px;
		}
	}
	input[type=submit]{
		display: block;

		padding: 0 20px;
		line-height: 38px;
		margin: 0 auto;
		margin-top: 30px;
		text-transform: uppercase;
		margin-bottom: 50px;
		font-size: 16px;
	}
}
.btn-azure:hover,input[type=submit]:hover{
	background: #2a9690;
}
.clr{
	clear: both;
}
.like:before{
	content: '';
	width: 16px;
	height: 14px;
	margin-right: 5px;
	background: url(../img/like.png) no-repeat;
	display: inline-block;
	vertical-align: middle;
}
.like{
	display: inline-block;
}
.comment:before{
	content: '';
	background: url(../img/mess.png) no-repeat;
	width: 17px;
	height: 14px;
	display: inline-block;
	margin: 0px 5px;
	vertical-align: middle;
}
.comment,.like{
	text-decoration: none;
}
.more:hover{
	background: @cl-dark;
	color: #fff;
}
.more{
	transition:0.3s all;
	text-align: center;
	width: 100%;
	display: block;
	background: #f2f1ee;
	line-height: 30px;
	color: @cl-dark;
	text-decoration: none;
}
.btn-azure{
	display: inline-block;
	transition:0.3s background;
	background: @cl-azure;
	padding: 15px 25px;
	color: #fff!important;
	border-radius: 2px;
	text-decoration: none;
}
.items:after{
	content: '';
	overflow: hidden;
	opacity: 0;
	display: inline-block;
	height: 0;
	width: 100%;
}
.title{
	padding: 30px 26px;
	padding-bottom: 20px;
	font-size: 28px;
	text-transform: uppercase;
}
.content{
	width: 980px;
	margin: 0 auto;
	position: relative;
	padding:0 10px;
}
.items{
	text-align: justify;
	line-height:0;
	.item{
		line-height:normal;
		display: inline-block;
		vertical-align: top;
	}
}
.logo{
	img{
		vertical-align: middle;
	}
}
h1{
	font-size: 30px;
}

a{
	transition:0.3s color;
	color: @cl-azure;
}
a:hover{
	color: #2a9690;
}
.azure{
	color: @cl-azure;
}

label,input[type="password"]{
	cursor: pointer;
	display: inline-block;
}

input[type=checkbox],input[type=radio]{
	position: absolute;
	left: -999px;
	opacity: 0;
	visibility: hidden;
}

input[type=submit]{
	transition:0.3s background;
	background: @cl-azure;
	border: none;
	line-height: 30px;
	color: #fff;
}

input[type=checkbox]+label:before{
	content: '';
	background: url(../img/check.png?v=2) no-repeat;
	border:solid 1px #b1b0b0;
	background-position: 0 -100px;
	height: 18px;
	width: 18px;
	display: inline-block;
	vertical-align: middle;
	border-radius: 3px;
}

input[type=checkbox]:checked+label:before{
	background-position: center center;	
	border: solid 1px #3ab3ac;
}

input[type=radio]+label:before{
	content: '';
	background: url(../img/radio.png?v=2) no-repeat;
	background-position: 0 0;
	height: 16px;
	width: 16px;
	display: inline-block;
	vertical-align: middle;
}
.hide{
	display:none;
}
input[type=radio]:checked+label:before{
	background-position: center 100%;	
}

input[type=text],input[type=password],textarea{
	border:solid 1px #b1b0b0;
	border-radius: 3px;
	outline: none;
	padding: 0 10px;
	line-height: 30px;
}
.social{
	a{
		overflow: hidden;
		display: inline-block;
		background: #fff;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		position: relative;
	}
	a:hover span{
		background-position: 0 -16px;
	}
	a span{
		  background-position: 0 0;
		  vertical-align: middle;
		  position: absolute;
		  top: 0;
		  left: 0;
		  right: 0;
		  bottom: 0;
		  margin: auto;
		  width: 14px;
		  height: 15px;
	}
	.vk span{
		width: 10px;
		background: url(../img/vk.png)no-repeat;
	}
	.instagramm span{
		background: url(../img/instagram.png)no-repeat;
	}
	.fb span{
		width: 7px;
		background: url(../img/fb.png)no-repeat;
	}
}
//==================END COMMON-----------------


//==================CONTENT--------------------
header{
	.top{
		line-height: 90px;
		height: 90px;
		position:relative;
		z-index:1;
		vertical-align: middle;
		border-bottom: solid 1px #eeece9;
		.actions a{
			display:inline-block;
			vertical-align:middle;
		}
		.item{
			vertical-align:middle;
		}
		.content{
			height: 90px;
			line-height: 90px;
			.menu{
				font-size: 0;
				vertical-align: middle;
				display: inline-block;
				position:relative;
				#jsddm
				{	
					margin: 0;
					text-transform:uppercase;
					font-size:20px;
					
				}
				#jsddm li
				{	float: left;
					list-style: none;
					line-height:30px;
				}

				#jsddm li a
				{	display: block;
					background: #fff;
					padding: 5px 12px;
					text-decoration: none;
					border-right: 1px solid white;
					font-size:16px;
					color: @cl-dark;
					white-space: nowrap
				}

				#jsddm li a:hover
				{	
					background: @cl-dark;
					color:#fff;
				}
					
				#jsddm li > ul
				{	margin: 0;
					padding: 0;
					position: absolute;
					visibility: hidden;
					//border-top: 1px solid white
					border:solid 1px #eeece9;
					border-top:none;
				}
				
				#jsddm li ul li
				{	
					float: none;
					display: inline;
				}
				
				#jsddm li ul li a
				{	
					width: auto;
					background: #fff;
					color: @cl-dark;
				}
				
				#jsddm li ul li a:hover
				{	
					background: @cl-dark;
					color:#fff;
				}
			}
		}
	}
	.breadcrumbs{
		font-size: 12px;
		padding: 10px 0;
		a{
			color: @cl-dark;
		}

	}
}
.actions{
	font-size: 15px;
	a{
		text-decoration: none;
		transition:0.3s background;
	}
	a:first-child{
		margin-right: 15px;
		display: inline-block;
	}
	.active{
		background: @cl-dark;
		padding: 5px 15px;
		color: #fff;
		border-radius: 3px;
	}
	.active:hover{
		background: @cl-azure;
	}
}
.photo-info{
	height: 600px;
	width: 755px;
	text-align:justify;
	.master{
		width: 200px;
		padding: 15px 25px;
		display:inline-block;
		.name{
			.semibold;
			font-size: 14px;
			color: #333333;
			display: block;
			margin-top: 5px;
		}
		.post{
			display: block;
			color: #acaaaa;
			font-size: 13px;
			margin-top: 5px;
			.open-sans;
		}
	}
	.carusel{
		width: 634px;
		margin: 0 auto;
		position: relative;
		.owl-item{
			p{
				text-align: center;
				.semibold;
				font-size: 16px;
				font-weight: bold;
				margin-top: 20px;
			}
		}
		.prev,.next{
			position: absolute;
			top: 0;
			bottom: 0;
			margin: auto;
			width: 32px;
			height: 32px;
		}
		.prev{
			background: url(../img/rev-prev.png) no-repeat;
			left: -48px;
		}
		.next{
			background: url(../img/rev-next.png) no-repeat;
			right: -48px;
		}
		img{
			width: 634px;
			height: 336px;
		}
	}
}

section{
	.styles{
		padding-bottom: 225px;
		.caption{
			.semibold;
			font-weight: bold;
			font-size: 18px;
		}
		.caption+p{
			font-size: 13px;
			line-height: 20px;
			padding: 20px 0px;
		}
		.some-info{
			font-size: 14px;
			padding-bottom: 50px;
			.item{
				display: inline-block;
				width: 250px;
				vertical-align: top;
			}
			.head{
				margin-bottom: 25px;
				font-size: 16px;
			}
			ul{
				margin-left: 20px;
				list-style-type: disc;
				li{
					line-height: 26px;
				}
			}
			ol{
				li{
					line-height: 26px;
				}
				margin-left: 20px;
				list-style-type: decimal;
			}
		}
		.hint{
			margin-top: 20px;
			margin-left: 30px;
			border-left: solid 2px @cl-azure;
			padding: 10px 0;
			padding-left: 15px;
			font-size: 13px;
			line-height: 20px;
			margin-bottom: 57px;
		}
		table{
			border: solid 1px #d2d4d4;
			width: 430px;
			thead{
				background: @cl-bg;
				th{
					.semibold;
					padding: 17px 25px;
					font-size: 14px;
					font-weight: bold;
					text-align: left;
				}
			}
			tbody{
				tr{
					border-bottom: dashed 1px @cl-dark;
					td:first-child{
						width: 190px;
					}
					td+td{
						text-align: justify;
					}
					td+td+td{
						text-align: center;
					}
					td{
						padding-left: 25px;
						line-height: 43px;
					}
				}
				tr:last-child{
					border: none;
				}
			}
		}
	}
	.filter{
		font-size: 12px;
		padding: 30px;

		input[type=text]{
			line-height: 30px;
			outline: none;
			padding: 0 10px;
			font-size: 12px;
		}
		#term{
			width: 290px;
		}
		#area{
			width: 150px;
		}
		#sex{
			margin-left: 13px;
		}
		#dt,#time,#price,#sex{
			width: 90px;
			vertical-align: middle;
		}
		.selectBox{
			vertical-align: middle;
		}
		.split+select+.selectBox{
			margin-right: 13px;
		}
		label{
			margin-left: 25px;
			color: #919191;
		}
		input[type="submit"]{
			padding: 1px 30px;
			display: inline-block;
			vertical-align: middle;
			border: 2px;
			text-transform: uppercase;
		}
		.split{
			margin-top: 20px;
			width: 100%;
			padding: 10px 0px;
			border-top: dashed 1px #b1b0b0;
		}
	}
	.masters{
		padding: 40px 0;
		padding-bottom: 10px;
		background: #fff;
		border-bottom: dashed 1px @cl-dark;
		.content{
			border-top: dashed 1px @cl-dark;
			
			padding: 35px 0;
			padding-bottom: 0;
		}
		.caption{
			font-weight: bold;
			background: #fff;
			text-transform: uppercase;
			font-size: 22px;
			position: absolute;
			top: -17px;
			left: 0;
			padding-right: 17px;
			.sans-light;
		}
		.item:hover{
			border: solid 2px @cl-azure;
			.hover{
				-webkit-box-shadow: inset 0 2px 40px 0 rgba(0,0,0,0.9);
				-moz-box-shadow: inset 0 2px 40px 0 rgba(0,0,0,0.9);
				box-shadow: 0 2px 40px 0 rgba(0,0,0,0.9);
			}
		}
		.item{
			transition:0.3s border;
			width: 183px;
			border: solid 2px #fff;
			
			position: relative;
			z-index: 2;
			background: #fff;
			.hover{
				  position: absolute;
				  bottom: 0px;
				  height: 13px;
				  border-radius: 50%;
				  width: 95%;
				  left: 0;
				  right: 0;
				  margin: auto;
				  z-index: 1;
			}
			a{
				padding-bottom: 10px;
				text-decoration: none;
				position: relative;
				z-index: 3;
				display: block;
				background: #fff;
				.name{
					color: @cl-azure;
					padding: 5px;
					display: inline-block;
					margin-top: 5px;
				}
				.status{
					padding: 5px;
					display: inline-block;
					color: #9b9b9b;
					font-size:12px;
					display:block;
				}
			}
		}
	}
	.reg{
		background: @cl-bg;
		.content{
			padding: 35px 0;
			text-align: center;
			p{
				text-align: center;	
				font-size: 18px;
			}
			.btn-azure{
				margin-top: 20px;
				display: inline-block;
			}
		}
		border-bottom: dashed 1px @cl-dark;
	}
	.service{
		margin-top: 30px;
		font-size: 14px;
		padding: 0 40px;
		padding-bottom:20px;
		p{
			color: #333333;
			font-weight: bold;
			margin-bottom: 15px;
		}
		.items{
			text-align: left;
			.item{
				vertical-align: top;
				width: 235px;
			}
		}
		
		li{
			line-height: 25px;
			display: block;
			a{
				color: #333333;
				transition:0.2s color;
			}
			a:hover{
				color: @cl-azure;	
			}
		}
	}
	.example{
		.title{
			padding-top: 0;
		}
		padding: 50px 0;
		background: #fff;
		.content{
			text-align: center;
		}
	}

	.master-list{
		margin-top: 35px;
		width: 580px;
		margin-bottom: 90px;
		position:relative;
		.master{
			clear: both;
			border: solid 1px #d2d4d4;
			border-bottom: none;
			margin-bottom: 22px;
			.info{
				img{
					width: 183px;
					float: left;
				}
				ul{
					padding-left: 30px;
					display: block;
					margin-left: 183px;
					
					li{
						padding-top: 18px;
					}
					.name{
						font-weight: bold;
						font-size: 18px;
						color: @cl-dark;
						text-decoration: none;
						.semibold;
					}
					.place{
						font-weight: bold;
						font-size: 14px;
						text-decoration: none;
						font-weight: bold;
						.semibold;
					}
					li:last-child{
						font-size: 13px;
						span{
							margin-right: 40px;
							display: inline-block;
						}
					}
				}
			}
			.service-list{
				display: block;
				border-top: solid 1px #d2d4d4;
				border-bottom: solid 1px #d2d4d4;
				padding: 0px 20px;
				.btn-azure{
					display: inline-block;
					padding: 5px 28px;
					line-height: 25px;
				}
				li{
					  border-bottom: dashed 1px #5c5c5c;
					  padding:10px 0;
					  vertical-align: middle;
					  span{
					  	display: inline-block;
					  }
					  span:first-child{
					  	width:200px;
					  }
				}
				li:last-child{
					border-bottom: none;
				}
			}
		}
	}

	.master-map{
		position:absolute;
		top:35px;
		right:0;
	}

	.master-view{
		position: relative;
		font-size: 0;
		.info{
			position: absolute;
			bottom: 0;
			left: 0;
			width: 955px;
			background: rgba(0,0,0,0.7);
			padding: 10px 0px;
			padding-left: 25px;
			img{
				
				border-radius: 50%;
				width: 125px;
				height: 125px;
				margin-right: 60px;
			}
			ul.online:after{
				  content: 'Онлайн';
				  position: absolute;
				  top: 8px;
				  right: -52px;
				  color: #3ec9c1;
				  font-size: 12px;
			}
			ul.offline:after{
				content: 'Оффлайн';
				position: absolute;
				top: 0;
				right: -70px;
				color: red;
				font-size: 12px;
			}
			ul{
				display: inline-block;
				vertical-align: top;
				position: relative;
				.btn-azure{
					padding: 2px 15px;
					margin: 0 20px;
				}
				li{
					margin-top: 16px;
					color: #fff;
					.name{
						font-size: 18px;
						.semibold;
					}
					.name+.city{
						margin-left: 20px;
						font-weight: 300;
						.open-sans;
						font-size: 14px;
						display: inline-block;
					}
					.place{
						font-size: 14px;
						.open-sans;
					}
					a{
						display: inline-block;
						color: #fff;
						text-decoration: none;
					}
				}
				li:last-child{
					font-size: 13px;
					.open-sans;
				}
			}
			.actions{
				vertical-align: top;
				position: absolute;
				right: 0;
				top: 30px;
				.btn-azure{
					padding: 10px 20px;
					text-transform: uppercase;
					display:block;
					margin-bottom:15px;
					padding: 10px 37px;
					text-align:center;
				}
			}
		}
	}
	.portfolio{
		width: 580px;
		.items{
			margin-top: 10px;
		}
		.item{
			text-align: center;
			width: 183px;
			margin-bottom: 20px;
			background: #f2f1ee;
			padding-bottom: 5px;
			.like{
				margin-left: 20px;
			}
		}
	}
	.caption-ha{
		font-size: 16px;
		margin-top: 25px;
		border-bottom: solid 1px #393a3a;
		
		.sans-light;
		span{
			background: #393a3a;
			padding: 2px 10px;
			color: #fff;
			display: inline-block;
		}
	}
	.work-place{
		width: 360px;
		color: @cl-dark;
		font-size: 14px;
		display: inline-block;
		
		.info{
			background: @cl-bg;
			p{
				padding: 25px;
				padding-bottom: 27px;
				.name{
					.semibold;
					margin-top: 5px;
					font-weight: bold;
					display: block;
					font-weight: bold;
				}
				.address{
					margin-top: 15px;
					display: block;
				}
			}
		}
	}
	.master-record{
		width: 580px;
		padding-top: 20px;
		.row{
			p{
				.semibold;
				margin-bottom: 5px;
				color: @cl-azure;
				text-transform: uppercase;
				font-size: 15px;
				padding-top:15px;
			}
			.info{
				font-size: 15px;
				height: 45px;
				line-height: 55px;
				border-top: dashed 1px #898989;
				span{
					display: inline-block;
					vertical-align: middle;
					line-height: 25px;
					span{
						font-style: italic;
						display: block;
						font-size: 13px;
						line-height: 25px;
					}
				}
				.btn-azure{
					padding: 0px 15px;
					line-height: 25px;
				}
				.name{
					width:250px;
					display:inline-block;
				}
			}
		}
	}
	.time-table{
		width: 360px;
		ul{
			background: @cl-bg;
			padding-top: 15px;
			font-size: 14px;
			li:first-child{
				border: none
			}
			li{
				.items;
				line-height: 44px;
				height: 44px;
				border-top: dashed 1px @cl-dark;
				padding: 0 20px;
				span{
					display: inline-block;
					vertical-align: middle;
					line-height: 15px;
				}
			}
			li:after{
				content: '';
				overflow: hidden;
				opacity: 0;
				display: inline-block;
				height: 0;
				width: 100%;
			}
		}
	}
	.exp{
		font-size: 14px;
		div{
			p{
				padding: 10px;
			}
		}
	}
	.reviews{
		width: 580px;
		padding-top: 20px;
		.otziv{
			text-align: right;
			.btn-azure{
				padding: 0 10px;
				line-height: 25px;
			}
			padding-bottom: 20px;
		}
		.who{
			color: @cl-azure;
			font-size: 15px;
			span{
				font-style: italic;
			}
		}
		.mess{
			width: 470px;
			font-style: italic;
			font-size: 14px;
		}
		.items{
			margin-bottom: 18px;
			border-bottom: dashed 1px #898989;
		}
		.items:last-child{
			border: none;
		}
	}
	.reviews+a{
		margin-bottom: 20px;
	}
	.another-links{
		width: 360px;
		border-bottom: solid 1px #e7e7e7;
		.caption-ha{
			margin-bottom: 20px;
		}
		.go-site{
			color: @cl-dark;
		}
		.go-site:hover{
			color: @cl-azure;
		}
		.social{
			a:hover {
				background: #fff;
				span{
					background-position: 0 -16px;
				}
			}
			a{
				border: solid 1px @cl-dark;
				background: @cl-dark
			}
			.VK{
				text-align:center;
				span{
					width:10px;
					background: url(../img/vk-2.png?v=2)no-repeat;
				}
			}
			.instagramm{
				span{
					width: 16px;
					background: url(../img/instagram-2.png)no-repeat;
				}
			}
			.fb{
				span{
					background: url(../img/fb-2.png)no-repeat;	
				}
			}
		}
	}
	.photo-view{
		margin-bottom: 40px;
		border: solid 1px @cl-azure;
		.caption{
			font-weight: normal;
			font-size: 24px;
			padding: 20px 0px;
			text-align: center;
			border-bottom: solid 1px #b6b6b6;
			.lukano;
		}
		.more{
			margin: 25px 30px;
			margin-top: 0;
			width: auto;
		}
		.items{
			padding: 25px 30px;
			padding-bottom: 0;
			.item{
				width: 300px;
				margin-bottom: 20px;
				.items{
					padding: 0;
					padding-top: 20px;
				}
				a.img{
					height: 225px;
					text-align: center;
					background-color: #eee;
					position: relative;
					display: block;
					img{
						position: absolute;
						top: 0;
						bottom: 0;
						left: 0;
						right: 0;
						margin: auto;
					}
				}
				.name{
					font-size: 14px;
					.lukano;
					text-decoration: none;
					color: #676767;
				}
				.item-f{
					display: inline-block;
					vertical-align: top;
					text-decoration: none;
				}
				.item-f:first-child{
					width: 250px;
				}
				.desc{
					width: 250px;
					display: inline-block;
					font-size: 11px;
					color: #aaa;
				}
			}
		}
		
	}
}
.reg-form{
	width: 530px;
	margin:0 auto;
	label{
		width: 100px;
	}
	.errorMessage{
		height: 25px;
		font-size: 12px;
		color: red;
		position: absolute;
		bottom: -15px;
		margin-left:100px;
		left:0;
		right:0;
		text-align:center;
		margin-left:105px;
	}
	.row{
		position: relative;
		margin: 0 auto;
		padding: 10px 0;
		text-align: center;
		
	}
	input{
		min-width: 401px;
		vertical-align: top;
	}
	.selectBox{
		min-width: 421px;
	}
}
footer{
	color: #fff;
	background: @cl-dark;
	line-height: 50px;
	color: #fff;
	position: relative;
	.open-sans;
	a:hover{
		color: #b6b6b6;
	}
	ul{
		text-align: justify;
		width: 400px;
		font-size: 12px;
		color: #fff;
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		li{
			margin: 0 8px;
		}
	}
	ul,li,.social,.logo,a{
		color: #fff;
		vertical-align: middle;
		display: inline-block;
	}
	.social{
		float: right;
	}
}
//==================END CONTENT--------------------

//==================PLAGINS -----------------------
/* Tiny Scrollbar */
#scrollbarY,#calendar { margin: 20px 0 10px; }
#scrollbarY .viewport, #calendar .viewport {height: 424px; overflow: hidden; position: relative; }
#scrollbarY .overview, #calendar .overview { list-style: none; position: absolute; left: 0;right:0;margin: 0 auto; top: 0; padding: 0; }
#scrollbarY .scrollbar, #calendar .scrollbar { background: @cl-azure 0 0; position: relative; background-position: 0 0; float: right; width: 11px; }
#scrollbarY .track, #calendar .track { background: @cl-bg 0 100%; height: 100%; width:9px; position: relative; padding: 0 1px; }
#scrollbarY .thumb ,#calendar .thumb { border-radius: 10px; background:@cl-azure 50% 100%; height: 20px; width: 9px; cursor: pointer; overflow: hidden; position: absolute; top: 0; left: 1px; }
#scrollbarY .thumb .end,#calendar .thumb .end { background: @cl-azure 50% 0; overflow: hidden; height: 5px; width: 25px; }
#scrollbarY .disable,#calendar .disable { display: none; }

#calendar .track{
	width:5px;
	padding:0;
}
#calendar .thumb{
	left:-3px;
	width:10px;
}

#calendar .viewport{
	height:240px;
}

#calendar .scrollbar{
	background:none;
	overflow:none;
	padding:none;
}

.services .viewport{
	height: 425px;
}

.calBox {
  padding: 2px;
  color: #5c5c5c;
  text-align: center;
  position: relative;
}

.calElement {
  margin: 1px;
  display: inline-block;
  overflow:hidden;
}

.calYear {
  font-size: 16px;
  display: inline-block;
}

.calYear .calElement {
  display: inline-block;
}

.calMonth {
  font-size: 16px;
  display: inline-block;
}

.calMonth .calElement {
}

.calDay {
	text-align:center;
}

.calDay .calElement span{
  font-size: 13px;
  display: block;
  width: 25px;
  line-height: 25px;
  border-radius: 50%;
  text-align: center;
}
.calDay .calElement{
}
.calDay .calElement.prev {
  background: url(../img/arr-l.png) no-repeat;
  width: 10px;
  height: 35px;
  position: absolute;
  top: 8px;
  left: 0;
}

.calDay .calElement.next {
  background: url(../img/arr-r.png) no-repeat;
  width: 12px;
  height: 35px;
  position: absolute;
  top: 8px;
  right: 0;
}

.calDay .calElement .dayNumber {
  font-size: 15px;
  font-weight:bold;
  .semibold;
}


.calDay .selected .dayNumber {
  background: #3ec9c1;
  border-radius: 50%;
  color: #fff;
  display: block;
}

span.calElement:hover {
  
  cursor: pointer;
}

.calElement.today {

}
#recovery-form{
	.items{
		text-align:right;
		margin-top:15px;
		input[type="submit"]{
			padding:0 83px;
		}
	}
}
.view-photo{
	margin-top:20px;
	#vk_comments{
		margin-bottom: 30px;
	}
	.items{
		.img{
			img{
				border-radius:15px;
			}
		}
		.row:first-child{
			border-top: solid 1px #CACACA;
		}
		.row{
			width: 300px;
			border-bottom: solid 1px #CACACA;
			padding: 15px;
		}

		.master{
			.item{
				width: 245px;
			}
			a.prof{
				margin-bottom: 5px;
				background: rgb(232, 43, 43);
				color: #fff;
				padding: 1px 6px;
				display: inline-block;
				margin-right: 2px;
				border-radius: 5px;
			}
			a{
				text-decoration: none;
			}
			img{
				border-radius: 50%;
				vertical-align: top;
			}
			.name{
				margin-bottom: 5px;
				color: @cl-dark;
				font-weight: bold;
				font-size: 16px;
				display: inline-block;
				vertical-align: top;
				margin-left: 5px;
				color: @cl-dark;
				text-decoration: none;
				font-size: 16px;
			}
			.prof{
				display: inline-block;
			}
		}
		.service{
			margin-top: 0!important;
			span{
				display: block;
				font-weight: bold;margin-bottom: 5px;
			}
			a:hover{
				background: #898989;
			}
			a{
				transition:0.3s all;
				color: #fff;
				padding: 1px 7px;
				background: rgb(187, 187, 187);
				text-decoration: none;
				border-radius: 6px;
				display: inline-block;
				margin: 3px 2px;
			}
		}
		.desc{
			.name{
				font-size: 18px;
				font-weight: bold;
			}
			.desc{
				margin-top: 10px;
				font-size: 16px;
			}
		}
	}
}
.catalog.desc{
	padding-bottom:20px;
}
.lb-style-black .lb-like, .lb-style-black .lb-dislike{
	background:#6383a8!important;
	padding:5px;
}
.lb-style-black .lb-like-icon{
	background:url(../img/finger.png)!important;
}
.lb-style-black .lb-dislike-icon{
	background:url(../img/finger-down.png)!important;
}
.baloon-data{
	background:#fff;
	padding:5px;
	border-radius:5px;
	width:185px;
	img{
		width:50px;	
		display:inline-block;
		vertical-align:top;
	}
	span{
		display: inline-block;
		width: 130px;
		padding-left: 5px;
	}
}
.btn-like{
	display: inline-block;
  	vertical-align: top;
	padding-top: 20px;
	float: right;
}